@charset "utf-8";

// 变量存储
// 字体Unicode编码 微软雅黑:\5FAE\8F6F\96C5\9ED1 , 宋体:\5B8B\4F53
$pcFont: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53', arial;
$side-color:#555;
$defaultColor: #333;
$mobileFont: 'Helvetica Neue', Helvetica, STHeiTi, Microsoft YaHei, sans-serif, Microsoft JhengHei, Arial;
$browser: null;
$hoverColor:#222;
%display {
    display:inline-block;
    *display:inline;
    *zoom:1;
}
%text-indent {
    font-size:0;
    text-indent:-99999em;
    overflow:hidden;
}
%box-sizing {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
}
//设置浮动
@mixin float($side){
    float:$side;
}
//左浮动
%pull-left {
   @include float(left);
}
//右浮动
%pull-right {
     @include float(right);
}
//清除浮动
@mixin clearfix {
    &:before,
    &:after {
        content:'';
        display: table;
    }
    &:after {
        clear:both;
        overflow: hidden;
    }
}
//设置borderTop动画
@mixin borderTop{
        border-top: 1px solid #eee;
        transition-property: border-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
}
//设置块级元素
@mixin navBlock{
        display: block;
        text-align: center;
        color: inherit;
        font-weight: 600;
        font-size: 16px;
}
//设置导航下的字体
@mixin navText{
    font-size: 13px;
    color: #999;
}
//设置原点
@mixin point($width,$height){
        content:"";
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 15px;
        width: $width;
        height: $height;
        border-radius: 50%;
        background-color: #bbb;
}
// 绝对居中
@mixin center($width, $height) {
    position: absolute;
    left:50%;
    top:50%;
    width:$width;
    height:$height;
    margin:(-$height / 2) 0 0 (-$width / 2);
}
// 设置动画名称
@mixin animation($aniName) {
    -webkit-animation:$aniName;
    -moz-animation:$aniName;
    -o-animation:$aniName;
    animation:$aniName;
}
// 设置延迟执行时间
@mixin animation-delay($time) {
    -webkit-animation-delay:$time;
    -moz-animation-delay:$time;
    -o-animation-delay:$time;
    animation-delay:$time;
}
// 设置阴影
@mixin box-shadow($shadow...) {
    -webkit-box-shadow:$shadow;
    -moz-box-shadow:$shadow;
    -o-box-shadow:$shadow;
    box-shadow:$shadow;
}
// 圆角
@mixin border-radius($radius) {
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    -o-border-radius:$radius;
    border-radius:$radius;
}
// 设置过渡
@mixin transition($transition...) {
    -webkit-transition:$transition;
    -moz-transition:$transition;
    -o-transition:$transition;
    transition:$transition;
}
// 设置旋转位置
@mixin transform-origin($origin...) {
    -webkit-transform-origin:$origin;
    -moz-transform-origin:$origin;
    -o-transform-origin:$origin;
    transform-origin:$origin;
}
@mixin transform($transform...) {
    -webkit-transform:$transform;
    -moz-transform:$transform;
    -o-transform:$transform;
    transform:$transform;
}

// 设置关键帧
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        $browser: '-webkit-'; @content;
    }
    @-moz-keyframes #{$name} {
        $browser: '-moz-'; @content;
    }
    @-o-keyframes #{$name} {
        $browser: '-o-'; @content;
    }
    @keyframes #{$name} {
        $browser: ''; @content;
    }
}
/* 设置持续时间和动画函数 */
@mixin animation-enter-active(){
  transition: all .3s ease;
}
@mixin animation-leave-active(){
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}


/* ********************重置样式 reset******************** */

/* *********PC端********** */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form, figure, figcaption {
    margin:0px;
}
::selection {
  background: #262a30;
  color: #fff;
}
ul, ol {
    list-style:none;
    margin:0px;
    padding:0px;
}
body {
    width:100%;
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    overflow-x:hidden;
    line-height: 2;
    color: #555;
    background: #f5f7f9;
    position: relative;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:normal;
}
/* 清除点击出现虚拟框 */
a{
    outline:none;
    text-decoration:none;
    color: #555;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    &:focus{
        outline:0;
    }
    &:link, 
    &:visited {
        text-decoration:none;
    }
    &:hover{
        color:$hoverColor;
        cursor: pointer;
    }
}
a img {
    border:none;
}
input, textarea, select {
    outline:none;
    font:12px/1.5 $pcFont;
}